<div>
	<% if current_user %>
		<% if like = current_user.liked(bookmark) %>
			<%= link_to [bookmark, like], method: :delete do %>
				<p>Unlike</p>
			<% end %>
		<% else %>
	  	<%= link_to "Like", bookmark_likes_path(bookmark), method: :post %>
	  <% end %>
  <% end %>
</div>